# Batch command files
setenv.bat
gettoken.bat

# Firebase web server files
.firebaserc
firebase.json

# Backup files
*.bak

# Keys for localhost
vapidKeys/
server.key
server.crt

# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

